<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysensorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySensorApp">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name=".modulairsensor"
            android:exported="true" />
        <activity
            android:name=".claritysensor"
            android:exported="true" />
        <activity
            android:name=".mhzsensor"
            android:exported="true" />
        <activity
            android:name=".panelcliente"
            android:exported="true"
            android:label="@string/title_activity_panelcliente"
            android:theme="@style/Theme.MySensorApp.NoActionBar"></activity>
        <activity
            android:name=".paneltecnico"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".crudusuarios"
            android:exported="true" />
        <activity
            android:name=".paneladmin"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true">
        </activity>
        <activity
            android:name=".registersensor"
            android:exported="true">
        </activity>
        <activity
            android:name=".modifysensor"
            android:exported="true">
        </activity>
    </application>

</manifest>